[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "*"
pprint = "*"
fastapi = "*"
marshmallow-dataclass = "*"
marshmallow-enum = "*"
jsons = "*"

[requires]
python_version = "3.8"
